# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES MANIFEST.in README TODO *regCred.dat
include countem installit Makefile p.proto test.all update.test_dirs
include ghpDoc/index.md ghpDoc/TODO
recursive-include xlReg *.py
global-exclude junk* .*swp 
prune   .svn


