# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES README TODO
include countem *.py
recursive-include xlReg *.py
global-exclude junk* .*swp 
prune   .svn


